<!DOCTYPE html>
<html>
<head>
  <title>RailsPhone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer class="footer">
  <small>
    <%= link_to "Rails Phone: PBX Interface", '#' %>
    by <a href="https://www.linkedin.com/profile/view?id=36235271" target="_blank">Steven Puroll</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/spuroll/rails_phone" target="_blank">GitHub</a></li>
      <li><a href="mailto:stevenpuroll@gmail.com">Contact</a></li>
    </ul>
  </nav>
</footer>

</body>
</html>
